#the-notice-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notice-item {
    display: flex;
    align-items: center;
    padding: 0px 10px 5px 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.notice-avatar {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.notice-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice-wrap {
    flex: 1;
}

.notice-meta {
    font-size: 14px;
    color: #555;
    margin: 0px;
}

.notice-message {
    margin: 10px 0px 20px 0px;
    color: #555;
    padding: 7px 10px;
}

.notice-message-p {
    margin: 0px;
    font-size: 15px;

}

.rbn-row-actions {
    margin: 12px 0px 3px 0px;
    font-size: 15px;
}

.rbn-row-actions a{
    text-decoration: none;
}

.notice-date {
    color: #999;
}


.notice-message.priority-high {
    border-left: 4px solid red;
    background-color: #ffe6e6;
}

.notice-message.priority-medium {
    border-left: 4px solid orange;
    background-color: #fff5e6;
}

.notice-message.priority-low {
    border-left: 4px solid green;
    background-color: #e6ffe6;
}

.read{
    background: none !important;
    border-left: 4px solid #0073aa !important;
}


.notice-archive{
    margin-top: 20px;
}